*{
    text-align: center;
}

textarea{
    text-align: left;
}

h1{
    font-size: 8em;
}

h2{
    font-size: 4em;
}

p{
    font-size: 1.3rem;
}

.base{
    margin: auto;
    width: 40%;
    padding: 10px;    
}